.header{
    overflow: hidden;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%;
    // height: 100px;
    display: flex;
    background-color: #4f627f;
    z-index: 10000;

    .navbar{
        padding: 15px 10px;
        &-brand{
            .brand-logo{
                width: 200px;
                object-fit: contain;
            }
        }
    }
}